<div class="container">
  <nav
    class="navbar fixed-top navbar-dark bg-dark justify-content-end"
  >
    <div class="container-fluid navbar-content-end">
      <button
        type="button"
        class="btn btn-transparent text-light"
        (click)="scroll(PastProjectsTarget)"
      >
        Past Projects
      </button>
      <button
        type="button"
        class="btn btn-transparent text-light"
        (click)="scroll(WorkTarget)"
      >
        Work
      </button>
      <button
        type="button"
        class="btn btn-transparent text-light"
        (click)="scroll(SkillsTarget)"
      >
        Skills
      </button>
    </div>
  </nav>

  <div class="content text-center">
    <!-- Intro -->
    <div style="min-height: 100vh" class="d-flex flex-column justify-content-center text-dark">
      <span>
        <h1 class="d-inline align-middle">Hi, I'm Kelvin Shen  </h1>
        <img src="../assets/waving-hand.png" class="d-inline" style="width: 35px;"/>

      </span>
      <div>
        I'm a 4th-year Software Engineering student at the University of
        Auckland. <br />
        I'm also a team player with a can-do attitude.
      </div>
    </div>

    <!-- Past projects -->
    <div #PastProjectsTarget>
      <past-projects></past-projects>
    </div>

    <!-- Work -->
    <div #WorkTarget>
      <work></work>
    </div>

    <!-- Skills -->
    <div #SkillsTarget>
      <skills></skills>
    </div>

    <div class="footer">
      <h2>footer</h2>
    </div>
  </div>
</div>
