<div class="container">
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid" >
      <button class="btn" (click)="scroll(CoverTarget)">
        <img src="../assets/logo_transparent.png" style="width: 30px" />
      </button>
      <div class="navbar-content-end">
        <button
          type="button"
          class="btn btn-transparent text-light"
          (click)="scroll(PastProjectsTarget)"
        >
          Past Projects
        </button>
        <button
          type="button"
          class="btn btn-transparent text-light"
          (click)="scroll(WorkTarget)"
        >
          Work
        </button>
        <button
          type="button"
          class="btn btn-transparent text-light"
          (click)="scroll(SkillsTarget)"
        >
          Skills
        </button>
      </div>
    </div>
  </nav>

  <div class="content text-center">
    <!-- Intro -->
    <div
      #CoverTarget
      class="d-flex flex-column justify-content-center text-dark height-full"
    >
      <div class="align-self-center" style="width: 60%">
        <span>
          <h1 class="d-inline align-middle me-2">Hi, I'm Kelvin Shen</h1>
          <img
            src="../assets/waving-hand.png"
            class="d-inline"
            style="width: 35px"
          />
        </span>
        <h5>
          Final year Software Engineering student at the University of Auckland.
          <br />
        </h5>
        <p>
          I believe challenges are the key ingredients in personal growth, and
          life is tasteless without learning.
        </p>
      </div>
    </div>

    <!-- Past projects -->
    <div class="pt-54" #PastProjectsTarget>
      <past-projects></past-projects>
    </div>

    <!-- Work -->
    <div class="pt-54" #WorkTarget>
      <work></work>
    </div>

    <!-- Skills -->
    <div class="pt-54" #SkillsTarget>
      <skills></skills>
    </div>

    <div class="footer mt-200">
      <p>
        Made with <img src="../assets/heart.png" width="20" alt="heart" /> by
        Kelvin Shen
      </p>
      <span class="mb-10">
        <a href="https://www.linkedin.com/in/kelvin-shen-a85644166/">
          <img
            src="../assets/linkedin.png"
            width="40"
            class="btn btn-sm p-0 me-2"
          />
        </a>
        <a href="https://github.com/kelvinshen00">
          <img
            src="../assets/github-logo-silhouette-in-a-square.png"
            width="40"
            class="btn btn-sm p-0"
          />
        </a>
      </span>
    </div>
  </div>
</div>
