<div
class="d-flex flex-column justify-content-evenly height-full"
>
    <h1>Work</h1>
    <div class="row row-cols-1">
      <div class="col-12 mb-3 w-60 p-100" *ngFor="let work of works">
          <div class="row g-0 ">
            <div class="col-md-4">
              <img src={{work.image}} class="img-fluid rounded-start bg-primary h-250" alt="image">
            </div>
            <div class="col-md-8">
              <div>
                <h5>{{work.role}}</h5>
                <p>{{work.companyName}}</p>
                <p>{{work.duration}}</p>
                <p>{{work.taskDescription}}</p>
                <p>{{work.technologyUsed}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>