/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.height-full {
    min-height: 100vh;
}

.text-transparent{
    color:transparent;
}

.h-250 {
    height: 250px;
}

.w-50 {
    width:50% !important;
}

.p-100{
    padding: 0px 100px;
}